.topbar
  background-color: #474646
  width: 100%
  color: white
  display: flex
  padding: 0.7em
  position: fixed
  top: 0
  left: 0

  &__logo
    font-family: "Exo"
    font-weight: 600
    font-size: 32px
    color: #fff
    cursor: pointer
    margin-left: 30px