.topbar
  &__logo
    font-family: "Exo"
    font-weight: 600
    font-size: 32px
    color: #fff
    cursor: pointer
    margin-left: 30px
    display: flex
    align-self: center
  
  &__socials
    display: flex
    align-items: center
    padding-right: 30px
    width: 90px
    justify-content: space-between

    &__icon

      &:hover
        cursor: pointer


  &__bg
    position: fixed
    background-color: #474646
    width: 100vw
    height: 50px
    color: white
    display: flex
    padding: 10px
    top: 0
    left: 0
    z-index: 10
    justify-content: space-between
    align-content: center