@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@300;600&display=swap');


body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Public Sans', 'Arial', sans-serif;
  font-weight: normal;
  font-size: 15px;
  text-align: justify;
  color: #666666;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}